{% load static %}
<div id="jump-espaco" class="container">
    		<h1 class="titulo">O Espaço</h1>
    		<div class="row"><!-- INICIO espaço e camarotes -->
    			<div class="d-none d-lg-block col-lg-5">
    				<img src="{% static 'img/mapa.jpeg' %}" class="img-fluid">
    			</div>

    			<div id="info-camarote" class="col-sm-12 col-lg-7"><!-- INICIO Info camarote -->
    				<h1>Reserve seu camarote</h1>

    				<div class="camarote">
    					<h2>CAMAROTES MEZANINO (DE 1 A 5)</h2><h2>A partir de R$2.000,00.</h2>
    				</div>

    				<div class="camarote">
    					<h2>CAMAROTES SALÃO (DE 6 A 10)</h2><h2>A partir de R$1.500,00.</h2>
    				</div>

    				<div class="camarote">
    					<h2>MESAS VIP</h2><h2>R$1.000 em consumo para 5 pessoas.</h2>
    				</div>

    			</div><!-- FIM Info camarote -->
    		</div><!-- FIM espaço e camarotes -->

    		<h4>*Todos os camarotes são para 10 pessoas com as entradas já inclusas nos valores acima.</h4>
    		<h4 class="mb-5">*Para reserva do camarote deve ser pago um sinal de 50% do valor antecipado e o restante na entrada do evento.</h4>

    		<div id="aniversariantes"><!-- INICIO Aniversariantes -->
    			<h1>Aniversariantes</h1>
    			<h2 class="mb-4">Aniversariantes do mês são VIPs com mais 1 acompanhante.Amigos na lista pagam valor promocional e
				confirmando 30 convidados presentes, você ganha 1 Chandon Brut 750ml.</h2>
				<a href="#" class="botao">Lista Amiga</a>
    		</div><!-- FIM Aniversariantes -->

    	</div>