{% load static %}
<footer class="fonte-alternativa">
    		<div id="info-rodape" class="container clearfix position-relative">
    			<a href="mailto: reservas@palmclub.com.br" class="pr-2 text-uppercase secundario">
				    reservas@palmclub.com.br</a>
		    	<div class="float-left footer-texto">
				    <a href="mailto: reservas@palmclub.com.br" class="pr-2 text-uppercase primario d-none d-lg-inline">
				    reservas@palmclub.com.br</a>
					<a href="tel:2132543719" class="pl-2 d-none d-lg-inline">(21) 3254-3719</a>
				</div>

				<div class="float-left d-none d-xl-block">
					<a href="" class="footer-insta item btn btn-outline-dark borda-botao-insta">
						<i class="fab fa-instagram fa-2x" style="color: white;"></i>
					</a>
					<a href="" class="footer-facebook item btn btn-outline-light">
						<i class="fab fa-facebook-f fa-2x"></i>
					</a>
				</div>

				<div class="float-left footer-texto d-none d-xl-block">
						<h4 class="d-inline text-uppercase">Imprensa: Ingrid Figueira - </h4><a href="tel:21985804023">(21) 98580-4023</a>
				</div>
			</div>
    	</footer>