{% load static %}
<div id="jump-historia" class="container d-none d-lg-block">
    		<p id="titulo-historia" class="titulo position-relative">Nossa História</p>
    		<div id="texto-historia" class="w-75 position-relative mb-5"><!-- INICIO Texto História -->
    			<p>Sonho de um menino de 20 anos, a mais nova e maior boate de Niterói, a Palm Club, surgiu a
				partir da percepção da necessidade do niteroiense de ter um lugar para se divertir nas noites do
				fim de semana. João Loss, idealizador do projeto, já promovia festas com seus amigos e começou a
				tomar gosto pela promoção de eventos. Seu pai, Angelo Loss, resolveu apostar na idéia do filho, e
				trouxe junto seus dois irmãos, Gilberto e Marcelo Loss, para essa aventura que é empreender em
				meio a tempos tão difíceis para a economia brasileira.</p>

				<p>“Nós apostamos na idéia do João, pois sabemos que muitos jovens preferem se deslocar para o Rio
				por falta de locais que ofereçam entretenimento noturno de qualidade. Niterói é uma cidade em
				que a cultura cresce cada vez mais, e a música, a dança, são expressões que devem ser valorizadas”, conta Angelo.</p>

				<p>O espaço tem capacidade para 1.500 pessoas, transformando a Palm no maior empreendimento
				desse segmento. Além de diversas atrações, a Palm conta com uma carta de bebidas especiais, que
				inclui whiskies, champagnes e outras bebidas exclusivas.</p>

				<p>No dia da inauguração, a atração principal foi a dupla de DJs “Elekfantz” que, no verão de 2012,
				lançou um single em edição limitada, somente em vinil, causando grande impacto na cena eletrônica
				internacional. Após a descoberta da música, a dupla tem sido presença confirmada em grandes festivais da música nacional e internacional, como Lollapalooza e Melt e trouxe muita música boa para
				quem gosta de dançar a noite toda.</p>

				<p>A principal promessa dos sócios é surpreender o público: “Buscamos fazer tudo com muito
				capricho e amor, para trazer o melhor para nossos clientes, desde a melhor estrutura de som e
				imagem da cidade, até as melhores atrações e serviços”, conclui Angelo.</p>

				<p class="ultimo-paragrafo">Além disso, mais uma inovação da boate será o “3D mapping”, tecnologia de projeção sobre objetos arquitetônicos que aproveitam modelos computadorizados onde são utilizadas técnicas visuais
				para criar ilusões que confundem a realidade, usando luz, cor e sombra. A ideia das projeções é a
				de criar um novo ambiente, mais moderno e criativo que introduza a Palm no ambiente tropical da
				região oceânica, motivo pelo qual, também, foram sendo construídos detalhes de sua identidade
				visual, como a própria logo.</p>
    		</div><!-- FIM Texto História -->
    	</div>